<?xml version="1.0" ?><Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="ChatterBox" Publisher="CN=Macadamian" Version="1.1.170.0"/>
  <Properties>
    <DisplayName>ChatterBox</DisplayName>
    <PublisherDisplayName>Macadamian</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate"/>
  </Resources>
  <Applications>
    <Application EntryPoint="ChatterBox.Client.Win8dot1.App" Executable="$targetnametoken$.exe" Id="Chatterbox.App">
      <Extensions>
        <Extension Category="windows.backgroundTasks" EntryPoint="ChatterBox.Client.Tasks.Signaling.Win8dot1.SignalingTask" Executable="$targetnametoken$.exe">
          <BackgroundTasks>
            <Task Type="controlChannel"/>
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
        <Extension Category="windows.backgroundTasks" EntryPoint="ChatterBox.Client.Tasks.Signaling.Win8dot1.KeepAliveTask" Executable="$targetnametoken$.exe">
          <BackgroundTasks>
            <Task Type="controlChannel"/>
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
      <m2:VisualElements BackgroundColor="transparent" Description="ChatterBox" DisplayName="ChatterBox" ForegroundText="light" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" ToastCapable="true">
        <m2:DefaultTile ShortName="ChatterBox">
        </m2:DefaultTile>
        <m2:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
        <m2:SplashScreen Image="Assets\SplashScreen.png"/>
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="privateNetworkClientServer"/>
    <Capability Name="internetClient"/>
    <Capability Name="internetClientServer"/>
  </Capabilities>
</Package>