<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="d731b6b1-4b4a-4121-8cb2-75f00bc0fa60" Publisher="CN=GodAdmin" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ChatterBox.Client.Win8.1</DisplayName>
    <PublisherDisplayName>GodAdmin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ChatterBox.Client.Win8._1.App">
      <m2:VisualElements DisplayName="ChatterBox.Client.Win8.1" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="ChatterBox.Client.Win8.1" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <m2:DefaultTile ShortName="ChatterBox">
        </m2:DefaultTile>
        <m2:LockScreen Notification="badge" BadgeLogo="Assets\BadgeLogo.png" />
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
        <m2:ApplicationView MinWidth="width500" />
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.backgroundTasks" Executable="$targetnametoken$.exe" EntryPoint="ChatterBox.Client.Tasks.Win8.1.SignalingTask">
          <BackgroundTasks>
            <Task Type="controlChannel" />
            <Task Type="systemEvent" />
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>